<div class="top-parent">
  <div class="container h-100">
    <div class="row h-100 justify-content-center">
      <div class="col-sm-6 align-self-center">
        <div class="card borderClass pt-4 pb-4 pl-2 pr-2">
          <button type="button" class="btn btn-main pl-0 pr-0" translate="" [routerLink]="['/dang-ky-tt', 1]">
            Tài khoản của&nbsp;<span class="text-primary font-weight-bold font-italic small-90">Chủ Đơn vị kinh doanh</span>
            <div class="font-italic" style="color: #FF3399" translate="">(Dùng để khai báo mở hệ thống cho Cơ sở kinh doanh)</div>
          </button>
          <button type="button" class="btn btn-main pl-0 pr-0 mt-3" translate="" [routerLink]="['/dang-ky-tt', 2]">
            Tài khoản của&nbsp;<span class="text-primary font-weight-bold font-italic small-90">Nhân viên</span>
            <div class="font-italic" style="color: #FF3399" translate="">(Dùng cho nhân viên đăng ký vào hệ thống Cơ sở kinh doanh của mình)</div>
          </button>
        </div>
      </div>      
    </div>
  </div>
</div>
